extends layout

block content
  .input-append
    input#appendedInputButton(class='span2', type='text', placeholder='90401 or los angeles, ca')
    button.btn(type='button') Search

  table(class=['table', 'table-striped', 'table-hover'], id='data-table')
    thead
      tr
        th name
        th address
        th score
        th # of reviews
        th # of checkins
    tbody
      tr
        td the varnish
        td downtown los angeles
        td 8.9
        td 231
        td 112
      tr
        td the varnish
        td downtown los angeles
        td 8.9
        td 231
        td 112
      tr
        td the varnish
        td downtown los angeles
        td 8.9
        td 231
        td 112
